/*--------------------------------------------------------------
# Style Fields for Employee Input
--------------------------------------------------------------*/
.employee-listing-form{
	font-size:18px;
	padding-top:15px;
}

.employee-listing-form input {
	padding:5px;
}

.full{
	width: 100%;
}

.employee-listing-form label{
	display: block;
	padding-bottom: 10px;
}

.form-group{
	padding-bottom: 15px;
}

.loading{
	display:none; /* Have image not load initially
}

/*--------------------------------------------------------------
# Style Employee Display Order and Sort
--------------------------------------------------------------*/

.order-save-msg, .order-save-err{
	display:none;
	padding: 10px !important; /*!important so that it overrides most anything else*/
}

.employee-sort-list{
	max-width: 400px;
}

.employee-sort-list li{
	padding: 12px;
	background: #f7f7f7;
	border: solid 1px #ddd;
}

.employee-sort-list li:hover{
	background: #f5f5f5;
	cursor: crosshair;
}
