.employee-col .employee-title{
	padding:20px 0 0 0 !important;
	margin: 0 !important;
}


.ed-release{
	margin-bottom:20px;
}

.ed-left{
	width:30%;
	float:left;
}

.ed-left img{
	width:100%;
}

.ed-right{
	width:70%;
	float:right;
	padding:10px 20px;
}

.clr{
	clear:both;
	margin-bottom:40px;
}

/*--------------------------------------------------------------
# Media Queries (768px is industry standard for break points)
--------------------------------------------------------------*/
@media (max-width: 2500px) {
	.employee-col{
		width: 50%;
		float: left;
		text-align: center;
		margin-bottom: 30px;
	}

	.employee-col img{
		width:90%;
		margin:auto;
		height: 300px;
		display: block;
	}

	ed-title{
		font-size:32px;
	}

}

@media (max-width: 900px) {
	.employee-col{
		width: 100%;
		float: left;
		text-align: center;
		margin-bottom: 30px;
	}

	.employee-col img{
		width:65%;
		margin:auto;
		height: 200px;
		display: block;
	}

	ed-title{
		font-size:25px;
	}

}
